<h2> create snippet</h2>
<form class='create-form'>
  <label for='snippet-name'>snippet name</label><br />
  <input type='text' name='snippet-name' id='snippet-name' /><br />
  <label for='tag-name'>Tag Name</label><br />
  <input type='text' name='tag-name' id='tag-name' /><br />
  <label for='snippet-body'>Snippet Body</label><br />
  <input type='text' name='snippet-body' id='snippet-body' /><br />

  <button class='btn' type='submit'>Submit</button>
</form>