<div class="container is-mobile">
<section class="section is-medium">
  <form action="" class="create-form">

        <h1>Create Snippet</h1>
        <div class="field is-horizontal">
          
          <div class="field-body">
            <div class="field">
              <label class="label">Snippet Name</label>
              <p class="control is-expanded ">
                <input id="snippet-name" class="input is-success" type="text" placeholder="Snippet Name">
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field ">
              <label class="label">Tag Name</label>
              <p class="control is-expanded  has-icons-right">
                <input id="tag-name" class="input is-primary" type="text" placeholder="Tag Name" >
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-body ">
            <div class="field is-expanded ">
              <div class="field has-addons ">
                <p class="control is-expanded">
            <label class="label">Snippet Body</label>
                  <textarea id="snippet-body" class="textarea is-family-monospace is-primary" placeholder="Paste your code here!"></textarea>

                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          
          <div class="field-body">
            <div class="field is-narrow">
              <label class="label">Languages</label>
              <div class="control">
                <div class="select is-fullwidth is-primary">
                  <select id="language">
                    <option>Choose One  </option>
                    <option value="HTML">HTML</option>
                    <option value="CSS">CSS</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="SQL">SQL</option>
                    <option value="Other">Other</option>
                   
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="field is-grouped ">
        <div class="control ">
          <button  type="submit" class="button submit is-link ">Save Code</button>
        </div>
        <div class="control">
          <button  class="button  is-light">Clear</button>
        </div>
      </div>
  </form>
</section>
</div>

<script src='/js/create.js'></script>