<section class="hero is-primary has-background-info-dark">
  <div class="hero-body">
    <p class="title">
      Code Keeper
    </p>
    <p class="subtitle">
      Your place to store and lookup code
    </p>
  </div>
</section>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p> --}}
{{/if}}

{{#if isLoggedIn}}

{{/if}}
<div class="container.is-widescreen">
  <br />
  <a class="button is-info is-large" href='/login'>Find</a>
  <div class="container-max-width">
  <br />
  <a class="button is-info is-large" href='/login'>Create</a>
  </div>
</div>
