<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Kode Keeper
    </p>
    {{#if isLoggedIn}}
    <h2>Welcome, {{user.username}}!</h2>
    {{/if}}
  </div>
</section>
{{#if isLoggedIn}}
<div class="column has-text-centered">
  <button class="button is-info is-large is-fullwidth"><a href='/find'>Find</a></button>
</div>
<div class="column has-text-centered">
  <button class="button is-info is-large is-fullwidth"><a href='/create'>Create</a></button>
</div>
{{else}}
   
<div class="column has-text-centered">
  <a href='/login'>
  <button class="button is-info is-large is-fullwidth">Find</button>
  </a>
</div>
<div class="column has-text-centered">
  <a href='/login'>
  <button href='/login' class="button is-info is-large is-fullwidth">Create</button>
  </a>
</div>
{{/if}}
