<h1>Code Keeper</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  {{!-- <p>Your id is <strong>{{user.id}}</strong>.</p> --}}
{{/if}}
<p>Welcome to Code Keeper.</p>
<p>Your place to store and lookup code</p>
{{#if isLoggedIn}}
<button  class='btn btn-find' ><a href='/find'>find</a></button>
<button class='btn btn-create'><a href='/create'>create</a></button>

{{/if}}
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/login'>Login</a>
{{/unless}}
