<div class="columns">
  <div class="column ml-3">
    <h1 class="title">Login</h1>
    <form class='login-form'>
      <label class="has-text-black" for='username'>Username</label><br />
      <input type='text' name='username' id='Login-username' /><br />
      <label class="has-text-black" for='password'>Password</label><br />
      <input type='password' name='password' id='Login-password' /><br />
      <button class='button is-info mt-2' type='submit'>Submit</button>
    </form>
    <p class="has-text-black">Don't have an account yet? Sign up!</p>
  </div>

  <div class="column ml-3">
    <h1 class="title">Signup</h1>
    <form class='signup-form'>
      <label class="has-text-black" for='username'>Username</label><br />
      <input type='text' name='username' id='username' /><br />
      <label class="has-text-black" for='password'>Password</label><br />
      <input type='password' name='password' id='password' /><br />
      <label class="has-text-black" for='confirm-password'>Confirm Password</label><br />
      <input type='password' name='confirm-password' id='confirm-password' /><br />
      <button class='button is-info mt-2' type='submit'>Submit</button>
    </form>
  </div>
</div>

<script src='/js/login.js'></script>
<script src='/js/signup.js'></script>